<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visit_date %><br>
    <%= f.date_select :visit_date %>
  </div>
  <div class="field">
    <%= f.label :reminder_appo %><br>
    <%= f.check_box :reminder_appo %>
  </div>
  <div class="field">
    <%= f.label :rason_visit %><br>
    <%= f.text_area :rason_visit %>
  </div>
  <div class="field">
    <%= f.label :doctor %><br>
    <%= collection_select(:doctor, :doctor_id, Doctor.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :pet %><br>
    <%= collection_select(:pet, :pet_id, Pet.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
