<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Visit date</th>
      <th>Reminder appo</th>
      <th>Rason visit</th>
      <th>Doctor</th>
      <th>Customer</th>
      <th>Pet</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.visit_date %></td>
        <td><%= appointment.reminder_appo %></td>
        <td><%= appointment.rason_visit %></td>
        <td><%= appointment.doctor.name %></td>
        <td><%= appointment.pet.customer %></td>
        <td><%= appointment.pet.name %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
